extends ../../views/index

block content
  include ../../views/mixins

  +slide(data-markdown=true).
      ## Docker Internals

      #### A deeper look into docker internals.

      <br />
      [by grocky](https://twitter.com/RockyGJr)

  +slide(data-markdown=true).
    ## Who Am I?

    ##### grocky

    <img src="img/profile.svg" class="img-circle img-responsive img-center profile"  />

    <br />
    [<i class="fa fa-twitter" aria-hidden="true"></i>/RockyGJr](https://twitter.com/RockyGJr)&nbsp;&nbsp;&nbsp;[<i class="fa fa-github" aria-hidden="true"></i>/grocky](https://github.com/grocky)<br />
    [<i class="fa fa-pencil" aria-hidden="true"></i> grocky](https://github.com/grocky)

  +slide(data-markdown=true).
    Another slide!

  +slide(data-markdown=true).
    ## Questions?
