extends ../../views/index

block content
  section(
    data-markdown='slides.md'
    data-separator='^\\r?\\n----\\r?\\n$'
    data-separator-vertical='^\\r?\\n--\\r?\\n$'
    data-separator-notes='^Note:'
  )
